<%-include("header")-%>
<h2>ToDo Application created by : - </h2>
<p>
  Pinal Parmar<br />
  TE Computer Engineering @ PICT, Pune<br />
  Aspiring Web Developer
</p>
<p>
  <%-include("footer")-%>
</p>
